<header class="sticky-top">
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #3146cc;">
        <a class="navbar-brand" href="#">
            <strong>
                Google Map by  Sean Riese
            </strong>
            
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">Action 1</a>
                        <a class="dropdown-item" href="#">Action 2</a>
                    </div>
                </li> -->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="form-group pr-3">
                    <button onclick="resetMap()" class="btn btn-outline-light btn-sm">
                        <i class="fa fa-refresh" aria-hidden="true"> &nbsp;</i>
                        Reset map
                    </button>
                </div>
                <div class="form-group text-white">
                  <label for="filter"></label>
                  <select class="form-control form-control-sm" name="" id="filter">
                    <option>1990</option>
                    <option>1995</option>
                    <option>2000</option>
                    <option>2005</option>
                    <option>2010</option>
                    <option>2015</option>
                    <option>2017</option>
                  </select>
                </div>
            </form>
        </div>
    </nav>
</header>